<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SolviT Trainees</title>
</head>
<body>
    <h1>Trainees List</h1>
    <table>
        <thead>
            <th>Names</th>
            <th>Date of birth</th>
        </thead>
        <tbody>
            {% for trainee in trainees %}
            <td>{{ trainee.full_name }}</td>
            <td>{{ trainee.dob }}</td>
            {% endfor %}
        </tbody>
    </table>
    <h1>Trainee Form</h1>

    {}
</body>
</html>