<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainee list</title>
</head>
<body>
     <h1>Trainees List</h1>
    <table border="1">
        <thead>
            <th>Names</th>
            <th>Date of birth</th>
        </thead>
        <tbody>
            {% for trainee in trainees %}
            <tr>
            <td>{{ trainee.full_name }}</td>
            <td>{{ trainee.dob }}</td>                
            </tr> 
            {% endfor %}
        </tbody>
    </table>
</body>
</html>